<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Templare</title>
    <meta name="description" content="Free Web tutorials">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="Roman Kravets" content="John Doe">
    <script src="http://localhost:35729/livereload.js"></script>
  </head>
  <body>
    <div id="app" class="page-wrapper modal-vue">
      <div class="overlay" v-if="showModal" @click="showModal = false"></div>
      <header>
        <nav
          class="top-nav"
          id="topNav"
          :class="{ active: isActiveSctoll }"
          >
          <div class="top-nav__content">
            <div
              class="top-nav__navigation"
              @click="isActive = !isActive"
              v-on:click.stop.prevent
            >
              <a class="top-nav__navigstion-link" href="#">
                <i class="fa fa-bars"></i>
              </a>
            </div>
            <div class="display-value">
              <ul class="top-nav__items">
                <li class="top-nav__item">
                  <a class="top-nav__link" href="#">Tour</a>
                </li>
                <li class="top-nav__item">
                  <a class="top-nav__link" href="#">Futures</a>
                </li>
                <li class="top-nav__item">
                  <a class="top-nav__link" href="#">Pricing</a>
                </li>
              </ul>
            </div>
            <div class="top-nav__logo">
              <a href="#">
                <img src="../../assets/images/logo.png" alt="" />
              </a>
            </div>
            <div class="display-value">
              <ul class="top-nav__items">
                <li class="top-nav__item">
                  <a class="top-nav__link help-color-link" href="#">Help</a>
                </li>
                <li class="top-nav__item">
                  <a class="top-nav__link" href="#">Contacts</a>
                </li>
                <li class="top-nav__item">
                  <a class="btn btn-blue" href="#">
                    <i class="fab fa-apple"></i>
                    Get App
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <div class="menu-slide" :class="{ open: isActive }">
          <div class="menu-slide__logo">
            <div class="logo">
              <img src="../../assets/images/logo-white.png" alt="" />
            </div>
            <a
              href="#"
              class="menu-slide__menu-close"
              :class="{ open: isActive }"
              @click="isActive = !isActive"
              v-on:click.stop.prevent
              ><i class="menu-slide__menu-close-icon fa fa-times"></i
            ></a>
          </div>
          <ul class="menu-slide__items">
            <li class="menu-slide__item">
              <a class="menu-slide__link" href="#">Tour</a>
            </li>
            <li class="menu-slide__item">
              <a class="menu-slide__link" href="#">Features</a>
            </li>
            <li class="menu-slide__item">
              <a class="menu-slide__link" href="#">Pricing</a>
            </li>
            <li class="menu-slide__item">
              <a class="menu-slide__link" href="#">Help</a>
            </li>
            <li class="menu-slide__item">
              <a class="menu-slide__link" href="#">Contacts</a>
            </li>
            <li class="menu-slide__item">
              <a
                class="menu-slide__link btn btn-blue"
                href="#"
                class="btn btn-blue"
                ><i class="fab fa-apple"></i> Get App</a
              >
            </li>
          </ul>

          <div class="menu-slide__footer">
            <div class="more-info">
              <p>
                Made with love by
                <a href="http://getcraftwork.com">Craft Work</a>
              </p>
              <p>
                Developed by
                <a href="https://github.com/romkravets">romkravets</a>
              </p>
            </div>
            <ul class="menu-slide__items socials">
              <li class="socials__item">
                <a href="#"><i class="fab fa-twitter"></i></a>
              </li>
              <li class="socials__item">
                <a href="#"><i class="fab fa-facebook"></i></a>
              </li>
              <li class="socials__item">
                <a href="#"><i class="fab fa-google-plus"></i></a>
              </li>
              <li class="socials__item">
                <a href="#"><i class="fab fa-tumblr"></i></a>
              </li>
              <li class="socials__item">
                <a href="#"><i class="fab fa-pinterest-p"></i></a>
              </li>
              <li class="socials__item">
                <a href="#"><i class="fab fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </header>
      <section class="page-header">
        <div class="page-header__container">
          <h1 class="page-header__title">What happens tomorrow?</h1>
          <p class="page-header__desctiption">
            The sight of the tumblers restored Bob Sawyer to a degree of
            equanimity which he had not possessed since his interview with his
            landlady. His face brightened up, and he began to feel quite
            convivial.
          </p>
          <a
            href="#"
            class="page-header__video-btn btn btn-lg"
            id="show-modal"
            @click="showModal = true"
          >
            <i class="fa fa-play"></i>
            Watch Video
          </a>
        </div>
        <img
          class="page-header__img-phone"
          src="../../assets/images/header_iphone.png"
          alt=""
        />
      </section>
      <main class="main-contant">
        <section class="section feature">
          <div class="section__content feature__content">
            <div class="feature__time">
              <img class="feature__img" src="../../assets/images/lock.svg" alt="">
              <h3 class="feature__title">Real-time all the time</h3>
              <p class="desctiption">Thus much I thought proper to tell you in relation to yourself, and to the trust I reposed in you. Just then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door.</p>
            </div>
            <div class="feature__reason">
              <img class="feature__img" src="../../assets/images/alarm-clock.svg" alt="">
              <h3 class="feature__title">Adopt without any obstacles</h3>
              <p class="desctiption">This sounded a very good reason, and Alice was quite pleased to know it. 'I never thought of that before!' she said. This I have produced as a scantling of Jack’s great eloquence and the force of his reasoning upon such abstruse matters.</p>
            </div>
          </div>
        </section>
        <section class="section iphone">
        <div class="section__content iphone__content">
            <div class="iphone__image iphone__img-container">
              <img class="iphone__img" src="../../assets/images/iphone-feature.png" alt="">
            </div>
          <div  class="iphone__image iphone__title-container">
            <h2 class="title iphone__title">Your day is protected</h2>
            <p class="desctiption">There have not been any since we have lived here, said my mother.
              <br>
              <br>
            We thought - Mr. Copperfield thought - it was quite a large rookery; but the nests were very old ones, and the birds have deserted them a long while.</p>
          <div class="iphone__btn-container">
            <button class="btn btn-blue iphone__btn-blue">Try to hack us <i class="iphone__btn-icon fa fa-arrow-right"></i></button>
            <button class="btn">Learn More</button>
          </div>
          </div>
        </div>
        </section>

        <section class="section iphone">
          <div class="section__content iphone__content">
            <div  class="iphone__image iphone__title-container map__title-container">
              <h2 class="title iphone__title">We are almost everywhere</h2>
              <p class="desctiption">Now the races of these two have been for some ages utterly extinct, and besides to discourse any further of them would not be at all to my purpose.
              <br>
              <br>
              Thus much I thought proper to tell you in relation to yourself, and to the trust I reposed in you.</p>
              <h3 class="map__title-partner">Partners</h3>
              <div class="map__partners">
              <img class="map__dropbox" src="../../assets/images/dropbox.png" alt="">
              <img src="../../assets/images/evernote.png">
            </div>
            </div>
            <div class="iphone__image iphone__img-container">
              <img class="map__img" src="../../assets/images/map.png" alt="">
            </div>
          </div>
          </section>
          <section class="section iphone-screens">
            <div class="section__content iphone-screens__content">
              <div class="iphone-screens__title">
                <h2 class="title">Beautiful Interface</h2>
                <hr class="iphone-screens__line-blue">
                <div>
                  <h3 class="subtitle iphone-screens__desctiption">LANDING SCREEN</h3>
                </div>
              </div>
              <div class="iphone-screens__images">
                <img class="iphone-screens__image" src="../../assets/images/interface/img-1.png" alt="">
                <img  class="iphone-screens__image iphone-screens__image_margin" src="../../assets/images/interface/img-2.png" alt="">
                <img class="iphone-screens__main-img" src="../../assets/images/interface/main-img.png" alt="">
                <img  class="iphone-screens__image" src="../../assets/images/interface/img-3.png" alt="">
                <img  class="iphone-screens__image" src="../../assets/images/interface/img-4.png" alt="">
              </div>
            </div>
          </section>
          <section class="section ready-to-buy">
            <div class="section__content iphone-screens__content">
            <div class="ready-to-buy__title">
              <h3 class="subtitle ready-to-buy__subtitle">NEWPROVIDENCE</h3>
              <h2 class="title">Get it to your smartphone</h2>
            </div>
            <form class="ready-to-buy__form">
              <div class="ready-to-buy__input-container">
                <input class="ready-to-buy__input" type="email" placeholder="Email here">
                <a class="btn btn-green ready-to-buy__button">Send Invite <i class="fa fa-arrow-right ready-to-buy__button-icon"></i></a>
              </div>
            </form>
            <div class="ready-to-buy__button-buy">
              <h3 class="subtitle">OR DOWNLOAD FROM</h3>
              <div class="download-btn">
                <a href="#" class="btn btn-dark ready-to-buy__download">
                  <i class="fab fa-apple btn-download-icon"></i>
                  <span class="btn-download-title">
                    Dowload on the <br>
                    <b class="btn-download-title-bold">App Store</b>
                  </span>
                </a>
              </div>
            </div>
          </div>
          </section>
          <section class="section plan">
            <div class="section__content">
              <div class="plan__block plan__description">
                <h2 class="title plan__top-title">Choose your perfect plan</h2>
                <span><b>YOU ARE</b></span>
                <div class="toggle-container cf">
                  <div class="switch-toggles">
                    <div class="individual">Individual</div> <!-- active -->
                    <div class="company">Company</div>
                  </div>
                </div>
                <p class="desctiption plan__talk-link">Thus much I thought proper to tell you in<br> relation to yourself, and to the trust I reposed in you.</p>
                <p class="desctiption plan__talk-link">Have a bigger team? <a href="#">Let‘s talk</a></p>
              </div>
              <div class="plan__block plan__price-tables">
                <div class="plan__starter">
                  <h3 class="plan__title">Starter</h3>
                  <span class="plan__price">Free</span>
                  <p class="plan__phrase">Build your schedule<br> every day</p>
                  <ul class="plan__lists">
                    <li class="plan__list"><i class="fa fa-check"></i> Unlimeted events</li>
                    <li class="plan__list"><i class="fa fa-check"></i>  Connect Dropbox & Evernote</li>
                    <li class="plan__list">&nbsp;</li>
                  </ul>
                  <a href="#" class="btn btn-blue plan__btn">Get Started</a>
                </div>
                <div class="plan__pro">
                  <h3 class="plan__title">Pro</h3>
                  <span class="plan__price">$4.99</span>
                  <p class="plan__phrase">Make your life<br> better</p>
                  <ul class="plan__lists">
                    <li class="plan__list"><i class="fa fa-check"></i> Unlimeted events</li>
                    <li class="plan__list"><i class="fa fa-check"></i> Connect Dropbox & Evernote</li>
                    <li class="plan__list"><i class="fa fa-check"></i> Personal assistant</li>
                  </ul>
                  <a href="#" class="btn btn-blue plan__btn plan__btn-pro">Make me a pro</a>
                </div>
              </div>
            </div>
          </section>
          <section class="subscribe">
            <div class="section__content iphone-screens__content">
              <div class="ready-to-buy__title">
                <h2 class="title">Subscribe our newsletters</h2>
              </div>
              <form class="ready-to-buy__form">
                <div class="ready-to-buy__input-container">
                  <input class="ready-to-buy__input" type="email" placeholder="Email here">
                  <a class="btn btn-green ready-to-buy__button">Subscribe</a>
                  <p class="subscribe__description">We promise to never spam you.</p>
                </div>
              </form>
            </div>
          </section>
      </main>
      <footer class="section page-footer">
        <div class="section__content page-footer__content">
          <div class="page-footer__top-block">
            <div class="page-footer__social-block">
              <img src="../../assets/images/logo.png">
              <p class="page-footer__description">It was some time before he obtained any answer, and the reply, when made, was unpropitious.</p>
              <a href="#"><img src="../../assets/images/app-store-download.png"></a>
              <ul class="menu-slide__items socials socials-footer">
                <li class="socials__item">
                  <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li class="socials__item">
                  <a href="#"><i class="fab fa-facebook"></i></a>
                </li>
                <li class="socials__item">
                  <a href="#"><i class="fab fa-google-plus"></i></a>
                </li>
                <li class="socials__item">
                  <a href="#"><i class="fab fa-tumblr"></i></a>
                </li>
                <li class="socials__item">
                  <a href="#"><i class="fab fa-pinterest-p"></i></a>
                </li>
                <li class="socials__item">
                  <a href="#"><i class="fab fa-linkedin"></i></a>
                </li>
              </ul>
            </div>
            <div class="page-footer__menu">
              <div>
                <h3>LEARN MORE</h3>
                <ul class="page-footer__items">
                  <li><a class="page-footer__link" href="#">How it works?</a></li>
                  <li><a class="page-footer__link" href="#">Meeting tools</a class="page-footer__link"></li>
                  <li><a class="page-footer__link" href="#">Live striming</a></li>
                  <li><a class="page-footer__link" href="#">Contat method</a></li>
                </ul>
              </div>
              <div>
                <h3>ABOUT US</h3>
                <ul class="page-footer__items">
                  <li><a class="page-footer__link" href="#">About us</a class="page-footer__link"></li>
                  <li><a class="page-footer__link" href="#">Features</a></li>
                  <li><a class="page-footer__link" href="#">Privacy police</a></li>
                  <li><a class="page-footer__link" href="#">Terms & Conditions</a></li>
                </ul>
              </div>
              <div>
                <h3>SUPPORT</h3>
                <ul class="page-footer__items">
                  <li><a class="page-footer__link" href="#">F.A.Q.</a class="page-footer__link"></li>
                  <li><a class="page-footer__link" href="#">Contact us</a></li>
                  <li><a class="page-footer__link" href="#">Live chat</a></li>
                  <li><a class="page-footer__link" href="#">Phone call</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="page-footer__made">
            <div>
              <p>For more freebies visit: <a href="#">http://getcraftwork.com</a></p>
            </div>
            <div class="page-footer__made-link">MADE WITH LOVE BY <a href="#"><img src="../../assets/images/craftwork.png" alt=""></a></div>
          </div>
        </div>
      </footer>

    <!-- modal -->
   <div class="modal" v-if="showModal">
     <div class="close-block">
      <a class="close" @click="showModal = false" title="Close (Esc)" type="button"><i class="fa fa-times"></i></a>
     </div>
    <video class="video" src="https://player.vimeo.com/video/74220509?autoplay=1">
    </video>
  </div>
    </div>
  </div>
  </body>

</html>
