<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="http://localhost:35729/livereload.js"></script>
  </head>
  <body>
    <div id="app" class="page-wrapper modal-vue">
      <div class="overlay" v-if="showModal" @click="showModal = false"></div>
      <header>
        <nav 
          class="top-nav"
          id="topNav"
          :class="{ active: isActiveSctoll }"
          >
          <div class="top-nav__content">
            <div
              class="top-nav__navigation"
              @click="isActive = !isActive"
              v-on:click.stop.prevent
            >
              <a class="top-nav__navigstion-link" href="#">
                <i class="fa fa-bars"></i>
              </a>
            </div>
            <div class="display-value">
              <ul class="top-nav__items">
                <li class="top-nav__item">
                  <a class="top-nav__link" href="#">Tour</a>
                </li>
                <li class="top-nav__item">
                  <a class="top-nav__link" href="#">Futures</a>
                </li>
                <li class="top-nav__item">
                  <a class="top-nav__link" href="#">Pricing</a>
                </li>
              </ul>
            </div>
            <div class="top-nav__logo">
              <a href="#">
                <img src="../../assets/images/logo.png" alt="" />
              </a>
            </div>
            <div class="display-value">
              <ul class="top-nav__items">
                <li class="top-nav__item">
                  <a class="top-nav__link help-color-link" href="#">Help</a>
                </li>
                <li class="top-nav__item">
                  <a class="top-nav__link" href="#">Contacts</a>
                </li>
                <li class="top-nav__item">
                  <a class="btn btn-blue" href="#">
                    <i class="fab fa-apple"></i>
                    Get App
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <div class="menu-slide" :class="{ open: isActive }">
          <div class="menu-slide__logo">
            <div class="logo">
              <img src="../../assets/images/logo-white.png" alt="" />
            </div>
            <a
              href="#"
              class="menu-slide__menu-close"
              :class="{ open: isActive }"
              @click="isActive = !isActive"
              v-on:click.stop.prevent
              ><i class="menu-slide__menu-close-icon fa fa-times"></i
            ></a>
          </div>
          <ul class="menu-slide__items">
            <li class="menu-slide__item">
              <a class="menu-slide__link" href="#">Tour</a>
            </li>
            <li class="menu-slide__item">
              <a class="menu-slide__link" href="#">Features</a>
            </li>
            <li class="menu-slide__item">
              <a class="menu-slide__link" href="#">Pricing</a>
            </li>
            <li class="menu-slide__item">
              <a class="menu-slide__link" href="#">Help</a>
            </li>
            <li class="menu-slide__item">
              <a class="menu-slide__link" href="#">Contacts</a>
            </li>
            <li class="menu-slide__item">
              <a
                class="menu-slide__link btn btn-blue"
                href="#"
                class="btn btn-blue"
                ><i class="fab fa-apple"></i> Get App</a
              >
            </li>
          </ul>

          <div class="menu-slide__footer">
            <div class="more-info">
              <p>
                Made with love by
                <a href="http://getcraftwork.com">Craft Work</a>
              </p>
              <p>
                Developed by
                <a href="https://github.com/romkravets">romkravets</a>
              </p>
            </div>
            <ul class="menu-slide__items socials">
              <li class="socials__item">
                <a href="#"><i class="fab fa-twitter"></i></a>
              </li>
              <li class="socials__item">
                <a href="#"><i class="fab fa-facebook"></i></a>
              </li>
              <li class="socials__item">
                <a href="#"><i class="fab fa-google-plus"></i></a>
              </li>
              <li class="socials__item">
                <a href="#"><i class="fab fa-tumblr"></i></a>
              </li>
              <li class="socials__item">
                <a href="#"><i class="fab fa-pinterest-p"></i></a>
              </li>
              <li class="socials__item">
                <a href="#"><i class="fab fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </header>
      <section class="page-header">
        <div class="page-header__container">
          <h1 class="page-header__title">What happens tomorrow?</h1>
          <p class="page-header__desctiption">
            The sight of the tumblers restored Bob Sawyer to a degree of
            equanimity which he had not possessed since his interview with his
            landlady. His face brightened up, and he began to feel quite
            convivial.
          </p>
          <a
            href="#"
            class="page-header__video-btn btn btn-lg"
            id="show-modal"
            @click="showModal = true"
          >
            <i class="fa fa-play"></i>
            Watch Video
          </a>
        </div>
        <img
          class="page-header__img-phone"
          src="../../assets/images/header_iphone.png"
        />
      </section>
      <main class="main-contant">
        <section class="section feature">
          <div class="section__content feature__content">
            <div class="feature__time">
              <img class="feature__img" src="../../assets/images/lock.svg" alt="">
              <h3 class="feature__title">Real-time all the time</h3>
              <p class="desctiption">Thus much I thought proper to tell you in relation to yourself, and to the trust I reposed in you. Just then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door.</p>
            </div>
            <div class="feature__reason">
              <img class="feature__img" src="../../assets/images/alarm-clock.svg" alt="">
              <h3 class="feature__title">Adopt without any obstacles</h3>
              <p class="desctiption">This sounded a very good reason, and Alice was quite pleased to know it. 'I never thought of that before!' she said. This I have produced as a scantling of Jack’s great eloquence and the force of his reasoning upon such abstruse matters.</p>
            </div>
          </div>
        </section>
        <section class="section iphone">
        <div class="section__content iphone__content">
            <div class="iphone__image">
              <img class="iphone__img" src="../../assets/images/iphone-feature.png" alt="">
              <!-- <figure class="iphone__img"></figure> -->
            </div>
          <div  class="iphone__image iphone__title-container">
            <h2 class="title iphone__title">Your day is protected</h2>
            <p class="desctiption">There have not been any since we have lived here, said my mother.</p>
            <p class="desctiption">We thought - Mr. Copperfield thought - it was quite a large rookery; but the nests were very old ones, and the birds have deserted them a long while.</p>
          <div class="iphone__btn-container">
            <button class="btn btn-blue iphone__btn-blue">Try to hack us <i class="iphone__btn-icon fa fa-arrow-right"></i></button>
            <button class="btn">Learn More</button>
          </div>
          </div>
        </div>
        </section>
      </main>

    <!-- modal -->
   <div class="modal" v-if="showModal">
     <div class="close-block">
      <a class="close" @click="showModal = false" title="Close (Esc)" type="button"><i class="fa fa-times"></i></a>
     </div>
    <video class="video" src="https://player.vimeo.com/video/74220509?autoplay=1">
    </video>
  </div>
    </div>
  </body>

  
</div>
</html>
