.section {
  width: 100%;
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 0 1rem;
  z-index: 2;
  &__content {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 960px;
    position: relative;
    align-items: center;
    margin: 0 auto;
  }
}

.feature {
  padding: 120px 0;
  &__time {
    //width: 50%;
    padding: 0 38px 0 0;
  }
  &__reason {
    padding: 0 0 0 38px;
  }
  &__img {
    width: 60px;
    margin-bottom: 3rem;
  }
  &__title {
    font-size: 26px;
    line-height: 34px;
    font-weight: 300;
    margin-bottom: 25px;
  }
}

.desctiption {
  font-size: 1.3rem;
  color: #8c8f94;
}

@media (max-width: 991.98px) {
  .feature {
    &__content {
      flex-direction: column;
    }
    &__time,
    &__reason {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 0 2rem;
    }
    &__reason {
      margin-top: 4rem;
    }
  }
}

.iphone {
  // position: relative;
  padding: 200px 0 330px;
  &__content {
    display: flex;
    flex-direction: row;
    height: 600px;
  }
  &__image {
    width: 50%;
    // position: relative;
    // left: -15%;
    // bottom: 0;
  }
  &__title {
    margin-bottom: 4rem;
  }
  &__img {
    position: absolute;
    top: 0;
    right: 50%;
  }
  &__title-container {
    padding: 5rem 0 0 5rem;
  }
  &__btn-container {
    margin-top: 4rem;
  }
  &__btn-icon {
    margin-left: 50px;
  }
  &__btn-blue {
    margin-right: 3rem;
  }
}

// .iphone__img {
//   left: 50%;
//   width: 50%;
//   width: 340px;
//   height: 580px;
//   margin-left: 0;
//   position: absolute;
//   background-size: 340px 624px;
//   background-size: contain;
//   background-repeat: no-repeat;
//   background-position: left center;
//   background-image: url(../../assets/images/iphone-feature.png);
// }
