.section {
  width: 100%;
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 0 1rem;
  z-index: 2;
  &__content {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 960px;
    position: relative;
    align-items: center;
    margin: 0 auto;
  }
}

.feature {
  padding: 120px 0;
  &__time {
    //width: 50%;
    padding: 0 38px 0 0;
  }
  &__reason {
    padding: 0 0 0 38px;
  }
  &__img {
    width: 60px;
    margin-bottom: 3rem;
  }
  &__title {
    font-size: 26px;
    line-height: 34px;
    font-weight: 300;
    margin-bottom: 25px;
  }
}

.desctiption {
  font-size: 1.3rem;
  color: #8c8f94;
}

@media (max-width: 991.98px) {
  .feature {
    &__content {
      flex-direction: column;
    }
    &__time,
    &__reason {
      padding: 0 2rem;
    }
    &__reason {
      margin-top: 4rem;
    }
  }
}

.iphone {
  // position: relative;
  padding: 200px 0 330px;
  overflow: hidden;
  &__content {
    display: flex;
    flex-direction: row;
    height: 600px;
  }
  &__image {
    width: 50%;
    // position: relative;
    // left: -15%;
    // bottom: 0;
  }
  &__title {
    margin-bottom: 4rem;
  }
  &__img {
    position: absolute;
    top: 0;
    right: 50%;
  }
  &__title-container {
    padding: 5rem 0 0 5rem;
  }
  &__btn-container {
    margin-top: 4rem;
  }
  &__btn-icon {
    margin-left: 50px;
  }
  &__btn-blue {
    margin-right: 3rem;
  }
}

@media (max-width: 1199.98px) {
  .iphone {
    &__content {
      flex-direction: column;
    }
    &__image {
      width: 90%;
    }
    &__img {
      position: relative;
      bottom: auto;
      right: auto;
      padding: 0 15px;
      margin-top: 64px;
    }
    &__img-container {
      order: 2;
    }
  }
}

@media (max-width: 575.98px) {
  .iphone {
    padding: 100px 0 130px;
    &__title-container {
      padding: 0;
    }
    &__btn-icon {
      margin-left: 20px;
    }
  }
}

.map {
  &__title-container {
    padding: 0;
  }
  &__img {
    position: absolute;
    top: 0;
  }
  &__title-partner {
    margin-top: 2rem;
    text-transform: uppercase;
  }
  &__partners {
    margin-top: 1.5rem;
    display: flex;
  }
  &__dropbox {
    margin-right: 3rem;
  }
}

@media (max-width: 1199.98px) {
  .map {
    &__img {
      position: relative;
      bottom: auto;
      left: auto;
      padding: 0 15px;
      margin-top: 64px;
    }
  }
}

.iphone-screens {
  padding: 140px 0 440px;
  position: relative;
  background-color: #f4f4f5;
  overflow: hidden;
  &__content {
    flex-direction: column;
  }
  &__title {
    margin: 0 0 5rem 0;
    text-align: center;
  }
  &__line-blue {
    width: 50px;
    height: 2px;
    margin: 40px auto;
    background-color: #267df4;
    border: none;
  }
  &__desctiption {
    margin: 1rem 0;
  }
  &__images {
    display: flex;
    justify-content: center;
  }
  &__image {
    margin: 0.5rem;
    box-shadow: 10px 10px 16px 0px rgba(61, 61, 62, 0.15);
    &_margin {
      margin-right: 29rem;
    }
  }
  &__main-img {
    box-shadow: none;
    position: absolute;
    top: 20%;
  }
}

.ready-to-buy {
  padding: 120px 0 130px;
  background-color: #f4f4f5;
  &__title {
    margin-bottom: 5rem;
    text-align: center;
  }
  &__subtitle {
    margin-bottom: 4rem;
  }
  &__form {
    position: relative;
    margin-bottom: 5rem;
  }
  &__form-container {
    width: 502px;
    max-width: 100%;
    margin: 0 auto;
  }
  &__button {
    position: absolute;
    top: 4px;
    right: 4px;
  }
  &__button-buy {
    text-align: center;
  }
  &__download {
    display: flex;
    align-items: center;
    padding: 9px 28px;
    margin-top: 2rem;
  }
  &__button-icon {
    margin-left: 18px;
  }
}

.download-btn {
  display: flex;
}

.btn-download-icon {
  font-size: 32px;
  display: inline-block;
  margin-left: 0;
  margin-right: 18px;
}

.btn-download-title {
  font-size: 12px;
  display: inline-block;
  text-align: left;
}

.btn-download-title-bold {
  font-size: 22px;
  line-height: 18px;
}

.subscribe {
  padding: 120px 0 130px;
  &__description {
    text-align: center;
    color: #8c8f94;
    margin-top: 1rem;
  }
}
