@import "./variables.scss";
.page-header {
  padding: 200px 0 510px;
  background-image: url(../../assets/images/banner_background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  min-height: 800px;
  &__container {
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__title {
    font-size: 4rem;
    font-weight: 400;
  }
  &__img-phone {
    position: absolute;
    bottom: -310px;
    left: 50%;
    margin-left: -185px;
  }
}

.top-nav {
  position: fixed;
  left: 0;
  top: 0;
  padding: 3rem;
  z-index: 10;
  display: flex;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  transition: all 0.37s cubic-bezier(0, 0, 0.58, 1);
  &__content {
    display: flex;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
  &__navigation {
    width: 5%;
  }
  &__navigstion-link {
    padding: 1rem;
  }
  &__logo {
    margin: 0 auto;
  }
  &__items {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-evenly;
    width: 300px;
  }
  &__item {
    flex-grow: 1;
    text-align: center;
  }
  &__link {
    text-decoration: none;
    color: $base-font-color;
    font-size: 16px;
    padding: 1rem;
    &:hover {
      color: $accent-color;
    }
  }
}

.help-color-link {
  color: rgba(38, 39, 45, 0.4);
}

// @media (min-width: 600px) {
//   .page-header {
//     //padding: 200px 0 510px;
//     background-image: url(../../assets/images/banner_background.jpg);
//     background-repeat: no-repeat;
//     background-position: center center;
//     background-size: cover;
//     position: relative;
//     overflow: hidden;
//     min-height: 700px;
//   }
// }

.menu-slide {
  position: fixed;
  display: block;
  width: 380px;
  max-width: 650px;
  height: 100%;
  left: -380px;
  top: 0;
  padding: 40px;
  z-index: 50;
  background: #26272d;
  transition: left 0.7s cubic-bezier(0.545, 0, 0.05, 1);
  color: $light-color;
  &__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__menu-close {
    padding: 1rem;
  }
  &__menu-close-icon {
    color: $light-color;
  }
  &__items {
    padding: 0;
    list-style: none;
    margin-top: 40px;
  }
  &__item {
    margin: 10px 0;
    &:last-child {
      margin-top: 25px;
    }
  }
  &__link {
    color: $light-color;
    text-decoration: none;
    font-size: 16px;
  }
  &__footer {
    position: absolute;
    display: block;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 20px 40px 25px;
  }
}

.socials {
  display: flex;
  &__item {
    display: flex;
    flex: 1;
  }
}

.socials .fab {
  color: $light-color;
}

.open {
  left: 0;
}

.active {
  background-color: $light-color;
  padding: 24px 0;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
}
