$base-font: "Roboto", sans-serif;
//$accent-font: "Cookie", cursive;
$accent-color: rgb(38, 125, 244);
$light-color: rgb(255, 255, 255);
$base-font-color: rgb(51, 51, 51);
$base-font-size: 16px;

$font-size-base: 14px;
$burger-size: 20px;
$global-nav-height: 118px;
$page-content-width: 960px;
